@import "tailwindcss";

/* Dark mode body styling */
body {
  background-color: #111827;
  /* gray-900 */
  color: #ffffff;
}

/* Global scrollbar hiding */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}