@import "tailwindcss";

/* Dark mode body styling */
body {
  background-color: #212124;
  /* gray-900 */
  color: #ffffff;
}

/* Global scrollbar hiding */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar on number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}